<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple UI App</title>
    <style>
        .task-complete {
            font-size: 24px;
            font-weight: bold;
            color: green;
            transition: color 0.3s ease;
        }
        .task-complete:hover {
            color: red;
        }
    </style>
    <title>Hover Effect</title>
</head>

<body>
    <p class="task-complete">Task Complete</p>
    <img src="/static/image.jpeg" alt="Your Image">

</body>
</html>
